{% extends 'templates-privados/base_priv.html' %}

{% block content %}
<h1 data-aos="fade-left">Agendamento de sala</h1>
<div class="uk-container uk-box-shadow-small">
    <ul class="uk-card-hover" style="padding: 15px; border-radius: 10px;" uk-accordion data-aos="fade-right">
        <li>
            <a class="uk-accordion-title" href>Novo agendameto</a>
            <div class="uk-accordion-content">
                <form>
                    <fieldset class="uk-fieldset">
                        <div class="uk-column-1-4@s">
                            <div class="uk-margin">
                                <label for="input-usuario">Usuário cadastrante</label>
                                <input class="uk-input" type="text" placeholder="{{ context.user }}"
                                    aria-label="input-usuario" value="{{ context.user_id }}" id="input-usuario" readonly
                                    disabled>
                            </div>

                            <div class="uk-margin">
                                <label for="input-sala-id">Cód da sala</label>
                                <input class="uk-input" type="text" aria-label="input-sala-id"
                                    value="{{ context.sala_id }}" id="input-sala-id" readonly disabled>
                            </div>

                            <div class="uk-margin">
                                <label for="dt_pretendida">Data</label>
                                <input class="uk-input" type="date" id="dt_pretendida" aria-label="dt_pretendida">
                            </div>

                            <div class="uk-margin">
                                <label for="slct-hora-inicio">Hora de início</label>
                                <select class="uk-select" aria-label="slct-hora-inicio" id="slct-hora-inicio"
                                    style="display: none;">

                                </select>
                            </div>
                        </div>


                        <div class="uk-margin">
                            <h5>Quadro de disponibilidade</h5>
                            <!--
                                <a class="uk-button uk-button-primary uk-margin"
                                onclick="obterSlotsSala({{ context.sala_id }});" href="#">Ver slots</a>
                                
                            -->

                            <div class="uk-container">
                                <div class="uk-child-width-1-5@m uk-grid-small uk-grid-match" id="marcacao-slots"
                                    uk-grid>

                                </div>
                            </div>
                        </div>


                    </fieldset>
                    
                </form>
            </div>
        </li>
    </ul>
</div>
<div class="uk-container uk-margin">
    <h2 data-aos="fade-left">Agendamentos de hoje</h2>
    <div class="uk-child-width-1-5@m uk-grid-small uk-grid-match" id="marcacao-slots-hoje" uk-grid>

    </div>
</div>
<div class="uk-position-small uk-position-center-right uk-position-fixed uk-overlay" id="resumo-agendamento"
    style="display: none;">
    <div class="uk-border-rounded uk-box-shadow-small"
        style="background-color: #313954; color:aliceblue; width: 250px;">
        <h5 class="uk-padding-small" style="font-size: 16pt; color:#fff; font-weight: 700;">Resumo
            do pedido de reunião</h5>
        <div class="uk-padding-small">
            <label for="input-data">Data</label>
            <input class="uk-input uk-border-rounded" type="date" placeholder="Selecione um data acima"
                aria-label="input-data" id="input-data" disabled>
        </div>
        <div class="uk-padding-small">
            <label for="input-inicio">Hora de inicio</label>
            <input class="uk-input uk-border-rounded" type="text" placeholder="Selecione uma hora acima"
                aria-label="input-inicio" id="input-inicio" disabled>
        </div>
        <div class="uk-padding-small">
            <label for="input-fim">Hora de fim</label>
            <input class="uk-input uk-border-rounded" type="text" placeholder="Selecione um data acima"
                aria-label="input-fim" id="input-fim" disabled>
        </div>
        <div class="uk-padding-small">
            <label for="input-duracao">Duração (min)</label>
            <input class="uk-input uk-border-rounded" type="number" placeholder="Selecione uma margem acima"
                aria-label="input-duracao" id="input-duracao" disabled>
        </div>
    </div>
    <div class="uk-margin">
        <a class="uk-button uk-button-primary" type="button" onclick="addAgendamento()" id="btnAgendarN">Agendar</a>
    </div>
</div>

{% endblock %}