{% extends 'templates-privados/base_priv.html' %}

{% block content %}
<h1 data-aos="fade-left">Agendamento de sala expressa</h1>
<div class="uk-container uk-box-shadow-small">
    <ul class="uk-card-hover" style="padding: 15px; border-radius: 10px;" uk-accordion data-aos="fade-right">
        <li>
            <a class="uk-accordion-title" href>Novo agendameto</a>
            <div class="uk-accordion-content">
                <form>
                    <fieldset class="uk-fieldset">
                        <div class="uk-column-1-4@s">
                            <div class="uk-margin">
                                <label for="input-usuario">Usuário cadastrante</label>
                                <input class="uk-input" type="text" placeholder="{{ context.user }}"
                                    aria-label="input-usuario" value="{{ context.user_id }}" id="input-usuario" readonly
                                    disabled>
                            </div>

                            <div class="uk-margin">
                                <label for="input-sala-id">Cód da sala</label>
                                <input class="uk-input" type="text" aria-label="input-sala-id"
                                    value="{{ context.sala_id }}" id="input-sala-id" readonly disabled>
                            </div>

                            <div class="uk-margin">
                                <label for="dt_pretendida">Data</label>
                                <input class="uk-input" type="date" id="dt_pretendida" aria-label="dt_pretendida">
                            </div>

                            <div class="uk-margin">
                                <label for="slct-hora-inicio">Hora de início</label>
                                <select class="uk-select" aria-label="slct-hora-inicio" id="slct-hora-inicio"
                                    style="display: none;">

                                </select>
                            </div>
                        </div>


                    </fieldset>
                    <div class="uk-margin">
                        <a class="uk-button uk-button-primary" type="button" onclick="addAgendamentoExp()" id="btnAgendarExp">Agendar</a>
                    </div>
                </form>
            </div>
        </li>
    </ul>
</div>
<div class="uk-container uk-margin">
    <h2 data-aos="fade-left">Agendamentos de hoje</h2>
    <div class="uk-child-width-1-5@m uk-grid-small uk-grid-match" id="marcacao-slots-hoje" uk-grid>

    </div>
</div>
{% endblock %}