{% extends 'templates-privados/base_priv.html' %}

{% block content %}
<h1 data-aos="fade-down">Perfil</h1>
<div class="uk-container">
    <form class="uk-form-horizontal">
        <div class="uk-margin">
            <label class="uk-form-label">Username</label>
            <div class="uk-form-controls">
                <input class="uk-input uk-width-1-2" id="input-perfil-usuario" type="text" placeholder="Informe um username" required>
            </div>
        </div>
        <div class="uk-margin">
            <div class="uk-form-label">Senha</div>
            <div class="uk-form-controls">
                <input class="uk-input uk-width-1-2" id="input-perfil-password" type="text" placeholder="Informe uma senha" required>
            </div>
        </div>

        <button class="uk-button uk-button-primary" type="button" id="btnUpdtPerfil">Salvar mudanças</button>
    </form>
{% endblock %}